<!DOCTYPE html>
<html lang="en">

<head>
 {% include head.html %}
</head>

<body>

  <!-- ======= Header ======= -->
{% include header.html%}
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{{site.baseurl}}">Home</a></li>
          <li>{{ page.title }}</li>
        </ol>
        <h2>{{ page.title }}</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">

<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                
    <div>
     
        <!-- <p>{{post.title}}</p> 
        <p>{{post.url}}</p>
        <a href="{{site.baseurl}}{{post.slug}}"> <p>{{post.url}}</p></a>
        <hr>
 -->

 <p>{{post.url}}</p>
        {% for post in site.posts %}
        <div class="card mb-5" style="width: 100;">
            <img class="card-img-top" src="{{post.img}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.desc}}</p>
              <a href="{{site.url}}{{post.slug}}" class="btn btn-primary">learn more</a>
          
            </div>
          </div>
    </div>  
    
    {% endfor %}

            </div>
        </div>
    </div>
</section>
     <!-- <div>
        <h2>  Blog  Posts </h2>

        {% for post in site.categories.one %}
        <p>{{post.title}}</p> 
        <p>{{post.url}}</p>
        <a href="{{site.baseurl}}{{post.slug}}"> <p>{{post.url}}</p></a>
        <hr>

        {% endfor %}
    </div> -->


    </section>
    <!-- {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo; Prev</span>
      {% endif %}
    
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ '/' | relative_url }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}
    
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %} -->
  



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
{% include footer.html%}

  <!-- Vendor JS Files -->
{% include script.html %}

</body>

</html>
      
