<!DOCTYPE html>
<html lang="en">

<head>
 {% include head.html %}
</head>

<body>

  <!-- ======= Header ======= -->
{% include header.html%}
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{{site.baseurl}}">Home</a></li>
          <li>{{ page.title }}</li>
        </ol>
        <h2>{{ page.title }}</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">


    <div>
        <h2>  Blog  Posts </h2>

        {% for post in site.posts %}
        <p>{{post.title}}</p> 
        <p>{{post.url}}</p>
        <a href="{{site.baseurl}}{{post.slug}}"> <p>{{post.url}}</p></a>
        <hr>

        {% endfor %}
    </div>  
     <div>
        <h2>  Blog  Posts </h2>

        {% for post in site.categories.one %}
        <p>{{post.title}}</p> 
        <p>{{post.url}}</p>
        <a href="{{site.baseurl}}{{post.slug}}"> <p>{{post.url}}</p></a>
        <hr>

        {% endfor %}
    </div>


    </section>

    <hr><hr>
    <hr><hr>
    <hr><hr>
    <hr><hr>




  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
{% include footer.html%}

  <!-- Vendor JS Files -->
{% include script.html %}

</body>

</html>
      