<!DOCTYPE html>
<html lang="en">

<head>
 {% include head.html %}
</head>

<body>

  <!-- ======= Header ======= -->
{% include header.html%}
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{{site.baseurl}}">Home</a></li>
          <li>{{ page.title }}</li>
        </ol>
        <h2>{{ page.title }}</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
     
   <!-- ======= Services Section ======= -->
   <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        {% for service in site.services%}
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="{{service.iconClass}}"></i></div>
            <h4><a href="">{{service.title}}</a></h4>
            <p>{{service.desc}}</p>
          </div>
        </div>
        {% endfor %}

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3>Call To Action</h3>
          <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">Call To Action</a>
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->


    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
{% include footer.html%}

  <!-- Vendor JS Files -->
{% include script.html %}

</body>

</html>